{% extends 'layout.html' %}

{% block content %}
    <!-- Welcome message and user details -->
    <div class="container mx-auto p-6">
        <h2 class="text-2xl md:text-3xl font-semibold text-center text-gray-400">Welcome, {{ username }}!</h2>
        <!-- Search and Add Satellite Section -->
        <section class="mt-6">
            <h3 class="text-2xl font-semibold text-indigo-400 mb-4">Add Satellites to Track</h3>
            <div class="flex gap-4">
                <!-- Hidden field for username Keep this rob!! -->
                <input type="hidden" name="username" value="{{ username }}">

                <!-- Search Bar -->
                <input
                    type="text"
                    id="search-bar"
                    placeholder="Enter satellite name"
                    oninput="searchSatellite()"
                    name="name"
                    autocomplete="off"
                    class="flex-1 px-3 py-2 rounded text-gray-800"
                />
                <button
                    onclick="addSatelliteToTracking()"
                    class="bg-indigo-500 hover:bg-indigo-700 text-white py-2 px-4 rounded">
                    Add Satellite
                </button>
            </div>
            <div id="dropdown" class="dropdown-menu absolute left-0 w-full mt-2 bg-white text-gray-800 shadow-lg rounded-lg"></div>
        </section>

      <!-- Form to Submit Satellite to User -->
        <form id="addSatelliteForm" method="POST" action="{{ url_for('login.add_satellite') }}">
            <input type="hidden" name="username" value="{{ username }}">
            <input type="hidden" id="satellite-id" name="satellite_id" value="">
        </form>
    </div>

        <!-- Satellites Table -->
        <section class="p-6 space-y-10">
            <h3 class="text-2xl md:text-3xl font-semibold text-center text-gray-400">Satellites You Are Tracking</h3>
            <table class="table-auto w-full bg-gray-800 rounded-lg shadow-md">
                <thead>
                    <tr>
                        <th class="p-3 text-left text-gray-300">Satellite Name</th>
                        <th class="p-3 text-left text-gray-300">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for satellite in satellites %}
                         <tr>
                            <!-- Make the satellite name clickable -->
                            <td class="p-3 text-gray-400">
                                <a href="{{ url_for('satellite', name=satellite.name) }}" class="text-indigo-500 hover:text-indigo-700">
                                    {{ satellite.name }}
                                </a>
                            </td>
                            <td class="p-3">
                                <button
                                    onclick="deleteSatellite('{{ satellite.name }}')"
                                    class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700"
                                >
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="1" class="p-3 text-center text-gray-400">No satellites being tracked.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

    <!-- Search and Add Country Section -->
        <section class="mt-6">
            <h3 class="text-2xl font-semibold text-indigo-400 mb-4">Add Countries to Track</h3>
            <div class="flex gap-4">
                <!-- Hidden field for username Keep this rob!! -->
                <input type="hidden" name="username" value="{{ username }}">

                <!-- Search Bar -->
                <input
                    type="text"
                    id="country-search-bar"
                    placeholder="Enter country name"
                    oninput="searchCountry()"
                    name="name"
                    autocomplete="off"
                    class="flex-1 px-3 py-2 rounded text-gray-800"
                />
                <button
                    onclick="addCountryToTracking()"
                    class="bg-indigo-500 hover:bg-indigo-700 text-white py-2 px-4 rounded">
                    Add Country
                </button>
            </div>
            <div id="country-dropdown" class="dropdown-menu absolute left-0 w-full mt-2 bg-white text-gray-800 shadow-lg rounded-lg"></div>
        </section>

      <!-- Form to Submit Country to User -->
        <form id="addCountryForm" method="POST" action="{{ url_for('login.add_country') }}">
            <input type="hidden" name="username" value="{{ username }}">
            <input type="hidden" id="country-name" name="country_name" value="">
        </form>
    </div>

        <!-- Countries Table -->
        <section class="p-6 space-y-10">
            <h2 class="text-2xl md:text-3xl font-semibold text-center text-gray-400">
                Countries You Are Tracking
            </h2>

            <table id="country-table" class="table-auto w-full bg-gray-800 rounded-lg shadow-md">
                <thead>
                    <tr>
                        <th class="p-3 text-left text-gray-300">Country Name</th>
                        <th class="p-3 text-left text-gray-300">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if countries %}
                        {% for country in countries %}
                            <tr>
                                <!-- Make the country name clickable -->
                                <td class="p-3 text-gray-400">
                                    <a href="{{ url_for('country_details', country_name=country) }}" class="text-indigo-500 hover:text-indigo-700">
                                        {{ country['name'] }}
                                    </a>
                                </td>
                                <td class="p-3">
                                    <button
                                        onclick="deleteCountry('{{ country.name }}')"
                                        class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700"
                                    >
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2" class="p-3 text-center text-gray-400">You are not currently tracking any countries!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
