{% extends "layout.html" %}

{% block content %}
<section class="p-6 space-y-10">
    <h2 class="text-2xl md:text-3xl font-semibold text-center text-gray-300">
        Satellites Over {{ country }}
    </h2>

    {% if satellites %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for sat in satellites %}
                <a href="{{ url_for('satellite_by_id', satellite_id=sat.id)}}" class="max-w-xs bg-gray-800 p-4 rounded-lg shadow-lg text-center">
                    <h3 class="text-xl font-medium text-gray-200">{{ sat.name }}</h3>
                    <p class="text-gray-400">ID: {{ sat.id }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-gray-400">No satellites currently over {{ country }}.</p>
    {% endif %}
</section>
{% endblock %}