{% extends "layout.html" %}

{% block content %}

<section class="p-6">
    <!-- Section Title -->
    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-8">
        Explore Our Satellites
    </h2>

    <!-- Satellite Grid Container -->
    <div class="mx-auto max-w-4xl grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Hubble Space Telescope -->
        <a href="/satellite/20580?image_url=https://upload.wikimedia.org/wikipedia/commons/3/3f/HST-SM4.jpeg"
           class="bg-white p-4 rounded-lg shadow-lg">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/3/3f/HST-SM4.jpeg"
                alt="The Hubble Space Telescope"
                class="rounded-t-lg w-full h-40 object-cover mb-4"
            />
            <h3 class="text-xl font-medium text-gray-800">The Hubble Space Telescope</h3>
            <p class="text-gray-600">Hubble has peered back into our universe's distant past, to locations more than 13.4 billion light-years from Earth</p>
        </a>

        <!-- International Space Station -->
        <a href="/satellite/25544?image_url=https://ichef.bbci.co.uk/ace/standard/3840/cpsprodpb/e7e2/live/bea2c100-3539-11ef-a647-6fc50b20e53e.jpg"
           class="bg-white p-4 rounded-lg shadow-lg">
            <img
                src="https://ichef.bbci.co.uk/ace/standard/3840/cpsprodpb/e7e2/live/bea2c100-3539-11ef-a647-6fc50b20e53e.jpg"
                alt="International Space Station"
                class="rounded-t-lg w-full h-40 object-cover mb-4"
            />
            <h3 class="text-xl font-medium text-gray-800">The ISS</h3>
            <p class="text-gray-600">A beacon of international cooperation orbiting above us.</p>
        </a>

        <!-- Starlink Satellite -->
        <a href="/satellite/44714?image_url=https://wmo.int/sites/default/files/2023-03/AdobeStock_580430822.jpeg"
           class="bg-white p-4 rounded-lg shadow-lg">
            <img
                src="https://wmo.int/sites/default/files/2023-03/AdobeStock_580430822.jpeg"
                alt="Starlink Satellite"
                class="rounded-t-lg w-full h-40 object-cover mb-4"
            />
            <h3 class="text-xl font-medium text-gray-800">Starlink</h3>
            <p class="text-gray-600">Connecting the globe with satellite internet.</p>
        </a>

        <!-- Galileo Satellite -->
        <a href="/satellite/38779?image_url=https://eoportal.org/ftp/satellite-missions/g/GIOVEA_241121/GIOVEA_Auto17.jpeg"
           class="bg-white p-4 rounded-lg shadow-lg">
            <img
                src="https://eoportal.org/ftp/satellite-missions/g/GIOVEA_241121/GIOVEA_Auto17.jpeg"
                alt="Galileo Satellite"
                class="rounded-t-lg w-full h-40 object-cover mb-4"
            />
            <h3 class="text-xl font-medium text-gray-800">Galileo</h3>
            <p class="text-gray-600">Europe's GPS alternative for precise navigation.</p>
        </a>
    </div>
</section>
{% endblock %}
