    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h1> <!--- {{ satellite.name }} ---> Table </h1>
<ul>
    <li>Name: {{ satellite["name"] }}</li>
    <li>NORAD ID: {{ satellite["id"] }}</li>
    <li>Latitude: {{ satellite["lat"] }}</li>
    <li>Longitude: {{ satellite["long"] }}</li>
    <li>Location: {{ satellite["location"] }}</li>
    <li>Elevation: {{ satellite["elevation"]}}km above sea level!</li>
    <li>Speed: {{ satellite["ground_speed"]}}km/s</li>
</ul>
</body>
</html>

